<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Summary
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>Balance of the Month</h2>
  <ion-grid ion-item color="bgTransactionList">
    <ion-row>
      <ion-col text-center>Income: {{ incomeTotal }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>Expense: {{ expenseTotal }}</ion-col>
    </ion-row>
    <ion-row *ngIf="isNegative()">
      <ion-col text-center><span style="color:#dd2323">Balance: {{ incomeTotal - expenseTotal }}</span></ion-col>
    </ion-row>
    <ion-row *ngIf="!isNegative()">
      <ion-col text-center><span style="color:#0004ff">Balance: {{ incomeTotal - expenseTotal }}</span></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


